body {
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  background-color: #472d30;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
